    {% extends 'base.html' %}

    {% block content %}

    <h1>Esta é a página de games!</h1>
    <h3>Jogo em destaque: </h3>
    <ul>
        <li>Título: <strong>{{title}}</strong></li>
        <li>Ano: <strong>{{year}}</strong></li>
        <li>Categoria: <strong>{{category}}</strong></li>
    </ul>

    <p>O jogo {{title}} tem {{2025 - year}} anos.</p>

    {# comentario em jinja2 #}

    <h3>Top players: </h3>
    <ol>
        {% for player in players %}
        <li>{{player}}</li>
        {% endfor %}
    </ol>

    <hr>
    <form action="">
        <label for="player">Jogador:</label>
        <input type="text" name="player">
        <input type="submit" value="Entrar">
    </form>

    <h4>Console mais bem avaliado:</h4>
    {% for key, value in console.items() %}
    <details>
        <summary>{{key}}</summary>
        <p>{{value}}</p> 
    </details>
    {% endfor %}

    {% endblock content %}